#blog-title{
    /* border: 0.5px solid rgb(73, 53, 53); */
    margin: 20px;
    background: white;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    display: flex;
    position: sticky;
    top: 0;
}
#blog-title img{
    /* border: 2px solid black; */
    width: 90px;
    height: 90px;
}
#blog-title .logo{
    margin-right: 30px;
}
#navbar{
    /* border: 2px solid black; */
    width: 100%;
    height: fit-content;
    text-align: right;
    margin-top: 5px;
}
#navbar .nav-items{
    text-decoration: none;
    /* border: 2px solid black; */
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;    
    margin-right: 5%;
    display: inline-block;
}
#navbar .nav-items:hover{
    color: rgb(162, 162, 184);
}
.search-btn input{
    padding: 3px;
    /* font-size: 5px; */
}
/* #navbar-title{
    border: 2px solid black;
} */
#title-time{
    /* border: 2px solid black; */
    margin-top: 15px;
}
#navbar-title,
#title-time{
    width: 100%;
    /* margin-top: 20px; */
}
#title-time p{
    /* border: 2px solid black; */
    margin-top: 20px;
    text-align: right;
    padding-right: 10px;
}